body {
  font-family: Arial;
  padding: 0px;
  margin: 0px;
  background: #0a0b16;
  color: #eeeeee;
}

.container {
  width: 1200px;
  padding: 5px;
  margin : 50px auto;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputs-block {
  display: flex;
  flex-direction: row;
}

.buttons-block button {
  min-width: 110px;
  font-weight: bold;
  letter-spacing: 1.2px;
  padding: 5px 10px;
  font-size: 17px;
  border: 0px;
  border-radius: 3px;
  margin-left: 10px;
  color: #000;
  outline:none;
  cursor: pointer;
}

.inputs-block label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  margin: 0px 10px 0px 0px;
}

.inputs-block select {
  border: 0;
  background: #666560;
  font-size: 17px;
  border-radius: 3px;
  color: #eeeeee;
  padding: 5px 3px;
  width: 150px;
  margin-right: 10px;
}

.inputs-block input {
  border: 0;
  background: #666560;
  font-size: 17px;
  border-radius: 3px;
  padding: 0px 3px;
  color: #eeeeee;
  width: 150px;
  margin-right: 10px;
}

.inputs-block input::placeholder {
  color: #dddddd;
}

.device-id-block, .operator-id-block {
  display: flex;
  flex-direction: row;
}

.operator-id-block {
  display: none;
}

.buttons-block .connected {
  background: #52c152;
}

.buttons-block .disconnected {
  background: #fb2626;
}

.buttons-block .ping {
  background: orange;
  display: none;
}

.message-block {
  margin-top: 30px;
  width: 1200px;
}

.message-block .messages-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  margin-bottom: 5px;
}

.message-block .messages-header .title {
  font-size: 18px;
  font-weight: bold;
  color: #848484;
}

.message-block .messages-header .clear-btn {
  font-weight: bold;
  letter-spacing: 1.2px;
  padding: 0px 10px;
  font-size: 11px;
  border: 0px;
  border-radius: 3px;
  color: #000;
  cursor: pointer;
  background: #c0e9f1;
}

.message-block .messages {
  width: 1196px;
  height: 200px;
  border: 0;
  background: #666560;
  font-size: 17px;
  border-radius: 3px;
  resize: none;
}
